---
import { Image } from "astro:assets";
import srcSlider from "@/assets/images/HOME/slider/IMG-MODELO-BIENVENIDOS.webp";
import bannerImg from "@/assets/images/HOME/slider/BANNER-BIENVENIDOS.webp";

const { language } = Astro.props;

const english = {
    titulo: "WELCOME",
};

const espanol = {
    titulo: "BIENVENIDOS",
};
---

<div class="h-[auto] pb-40">
    <div class="relative border-b-[15px] border-[#005240]">
        <Image src={bannerImg} alt="Slider" />
        <div class="absolute top-0 right-0 max-w-[50vw] lg:max-w-full">
            <div class="p-10">
                <Image
                    src={srcSlider}
                    width={500}
                    alt="modelo home"
                    class="border-r-[15px] border-[#005240]"
                />
            </div>
        </div>
    </div>
</div>
