---
import img1 from "@/assets/images/HOME/categorias/CATEGORIAS-1.webp";
import img2 from "@/assets/images/HOME/categorias/CATEGORIAS-2.webp";
import img3 from "@/assets/images/HOME/categorias/CATEGORIES-1.webp";
import img4 from "@/assets/images/HOME/categorias/CATEGORIES-2.webp";
import { Image } from "astro:assets";
const { language } = Astro.props;

const espanol = {
    categorias: "CATEGORÍAS",
    images: [img1, img2],
};

const english = {
    categorias: "CATEGORIES",
    images: [img3, img4],
};

const imgCategory1 = language === "es" ? espanol.images[0] : english.images[0];
const imgCategory2 = language === "es" ? espanol.images[1] : english.images[1];
---

<div class="container mx-auto p-10 mt-[10vh] mb-[10vh]">
    <h1
        class="meditative mt-10 mb-32 md:mb-0 text-center text-[72px] md:text-[100px] xl:text-[115px] text-[#005141] pt-10 px-0 pb-36 md:p-20"
    >
        {language === "es" ? espanol.categorias : english.categorias}
    </h1>
    <div
        class="flex -mt-[25vh] flex-col md:flex-row justify-center items-center gap-0 md:gap-20"
    >
        <a
            href={`/${language}/catalogo/damas`}
            class="btns-catalogo text-center"
        >
            <Image
                src={imgCategory1}
                alt="Imagen 1"
                class="-mb-[10vh] md:-mb-[25vh]"
            />
        </a>
        <a
            href={`/${language}/catalogo/infantil`}
            class="mt-[25vh] md:mt-[50vh] text-center"
        >
            <Image
                src={imgCategory2}
                alt="Imagen 1"
                class="-mt-[10vh] md:-mt-[25vh]"
            />
        </a>
    </div>
</div>
