---
import hoja from "@/assets/images/hoja.jpeg";
import Arrow from "@/assets/svgs/Arrow.astro";
---

<div
    class="flex items-center justify-center w-full md:h-[100vh] bg-cover"
    style={`background-image: url(${hoja.src})`}
>
    <div
        class="flex py-20 md:py-0 items-center justify-center w-full h-full bg-black bg-opacity-40 hover:bg-opacity-0.9 transition-opacity"
    >
        <div class="container px-[8vw]">
            <div
                class="bg-black bg-opacity-50 border border-white border-opacity-50 rounded-[5px] pb-5 px-5 md:px-20"
            >
                <div class="text-center text-white">
                    <h2 class="beb-regular text-[50px] md:text-[115px] pt-5">
                        ¿QUIENES SOMOS?
                    </h2>
                    <p
                        class="text-[18px] leading-[22px] md:text-[36px] md:leading-[42px]"
                        style="font-family: 'Open Sans';font-weight: 200;"
                    >
                        Somos una empresa manufacturera colombiana creada en el
                        año 2006, iniciativa de dos mujeres emprendedoras
                        ingenieras industriales, quienes en la necesidad de
                        buscar un mejor futuro, unen habilidades y conocimientos
                        para iniciar la sociedad que hoy se conoce con la marca
                        garana art, dedicada a la elaboración y comercialización
                        de trajes de baño, con una vision enfocada a la
                        responsabilidad social y ambiental
                    </p>
                    <div class="mt-10 flex justify-center md:mb-10">
                        <button
                            class="btn-nosotros flex items-center bg-transparent border border-white border-opacity-50 rounded-[5px] py-2 px-2 md:px-8 text-[22px] md:text-[40px] font-bold gap-2 text-white hover:bg-white hover:text-black transition-colors"
                            style="font-family: 'Open Sans';"
                        >
                            <span class="flex gap-2"
                                >Conoce más <span class="hidden md:flex"
                                    >de nosotros</span
                                ></span
                            >
                            <Arrow width="40px" height="40px" color="white" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
