---
import { Image } from "astro:assets";
import hoja from "@/assets/images/hoja.jpeg";
---

<div class="relative w-full h-[100vh] ">
    <Image src={hoja} alt="Hoja Image" class="object-cover w-full h-full" />
    <div class="absolute inset-0 bg-black bg-opacity-70"></div>
    <div class="absolute inset-0 flex items-center p-20 justify-center">
        <div class="bg-black bg-opacity-50 border border-white border-opacity-50 rounded-[5px] py-20 px-20 w-[700px] ">
            <div class="text-center text-white  text-[20px]" style="font-family: 'Bebas neue';letter-spacing : 1.1px">
                <h2 class="text-2xl  mb-8 " style="font-size: 40px; font-weight:100;">ACERCA DE NOSOTROS</h2>
                <p class="text-base" style="font-family: 'Open Sans'; font_size:40px">La empresa Indecon "Industria de confecciones" se creo en el a침o 2006, y su objetivo principal es el dise침o, produccion
                                                                        y comercializaci칩n de trajes de ba침o. Actualmente INDECON se encuentra representada bajo la marca GARANA ART y esta en 22 departamentos de Colombia con mas de 80 clientes mayoristas.</p>
            </div>
        </div>
    </div>
</div>
