---
import img1 from "@/assets/images/img1.webp";
import { Image } from "astro:assets";
---

<div class="container mx-auto p-20 h-[100vh] ">
    <h1 class="text-3xl font-light text-center mb-20 text-[100px]" style="font-family: 'Bebas neue'; font-weight:200;">CATEGORIAS</h1>
    <div class="flex justify-between items-center">
        <div class="relative flex-1">
            <div class="absolute left-0 top-0 w-[400px] h-[400px] bg-[rgb(204,255,210)] transform -translate-y-8 z-0"></div>
            <div class="relative z-10 transform translate-y-8">
                <p class="text-[30px] ml-[170px] " style="font-family: 'Bebas Neue'; font-weight:300;">DAMAS</p>
                <Image src={img1} alt="Imagen 1" class="w-[300px] ml-[50px]" />
            </div>
        </div>
        <div class="relative flex-1">
            <div class="absolute right-0 bottom-0 w-[400px] h-[400px] bg-[rgb(204,255,210)] transform translate-y-8 z-0"></div>
            <div class="relative z-10 transform -translate-y-8">
                <Image src={img1} alt="Imagen 2" class="w-[300px] ml-[85px]" />
                <p class="text-[30px]  ml-[220px] " style="font-family: 'Bebas Neue'">NIÑAS</p>
            </div>
        </div>
    </div>
</div>
