---
import { Image } from "astro:assets";
import srcSlider from "@/assets/images/HOME/slider/bg-fondo.jpg";
import bk from "@/assets/images/HOME/slider/img.jpg";
---
<div class="flex h-[100vh]">
    <div class="flex h-[80vh] bg-cover items-center w-full border-b-[15px] border-[#2c8b37]" style={`background-image:url(${srcSlider.src})`}>
        <div class="container mx-auto flex flex-row items-center">
            <div class="w-full pt-[118px] ">
                <h1 class="text-[100px] text-white " style="font-family: 'Bebas Neue'; font-weight:300">BIENVENIDOS</h1>
            </div>
            <div class="flex w-full justify-end">
                <Image class="inline-block -mb-[300px] border-r-[15px] border-[#2c8b37]" src={bk} alt="Slider" width={370} />
            </div>
        </div>
    </div>
</div>
