---
import Html from "@/components/layout/Html.astro";
import SectionC from "@/sections/home/SectionCategorias.astro";
import BreadsCrumb from "@/components/layout/bread_crumbs/breadsCrumb.astro";
import SliderCatalogo from "@/assets/images/catalogo/landing-page-2.jpg";
---

<Html>
    <BreadsCrumb titulo="CATALOGO" image={SliderCatalogo} />
    <div class="w-full -mb-[15vh]"></div>
    <SectionC />
    <div class="w-full h-32"></div>
</Html>
