---
const { title, imagenes } = Astro.props;
---

<div class="w-full pt-0 md:pt-[118px] mb-[115px]">
    <h2
        class="meditative text-[#005141] text-center text-[72px] md:text-[115px] beb-regular p-10"
    >
        {title}
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-0 h-full">
        {
            imagenes.map((image) => (
                <div class="">
                    <img src={image.src} class="bg-cover" />
                </div>
            ))
        }
    </div>
</div>
