---
import { Image } from "astro:assets";
import srcSlider from "@/assets/images/catalogo-dama/slider.jpg";
---
<div class="relative w-full ">
    <Image src={srcSlider} alt=" " class="object-cover w-full h-[500px] " />
    <div class="absolute inset-0 pt-[118px] flex flex-row items-center ">
        <h2 class="text-white text-[150px] pl-20 " style="font-family: 'Bebas Neue';">
            CATALOGO
        <h2/>
        <h1 class="text-white text-[150px] pl-20 " style="font-family: 'Bebas Neue';">
            DAMAS
        </h1>
    </div>
</div>