---
import Html from "@/components/layout/Html.astro";
import SectionC from "@/sections/home/SectionCategorias.astro";
import BreadsCrumb from "@/components/layout/bread_crumbs/breadsCrumb.astro";
import SliderCatalogo from "@/assets/images/catalogo/BANNER-CATALOGO.webp";
---

<Html title="Catálogo" language="es">
    <BreadsCrumb titulo="CATÁLOGO" image={SliderCatalogo} language="es" />
    <div class="w-full -mb-[15vh]"></div>
    <SectionC language="es" />
    <div class="w-full h-32"></div>
</Html>
