---
import { Image } from "astro:assets";
import srcSlider from "@/assets/images/landing-page-2.jpg";
import bk from "@/assets/images/img1.webp";
---
<div class="relative w-full ">
    <Image src={srcSlider} alt="Hero Image" class="object-cover w-full h-[500px]" />
    <div class="absolute inset-0 pt-[118px] flex flex-row items-center ">
        <h1 class="text-white text-[150px] pl-20 " style="font-family: 'Bebas Neue';">
            CATALOGO
        </h1>
    </div>
</div>