.animation,
.btn-insta:after,
.hover-insta,
.button-navigator,
.button-navigator span,
.button-navigator::after,
.button-navigator::before,
.menu-top,
.list-idiomas li.absolute,
.menu-component {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu-top {
    overflow: hidden;
    padding: 0;
    opacity: 0;
    height: 0;

    &.active {
        opacity: 1;
        height: 220px;
    }
}

.button-navigator {
    padding-top: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
    position: relative;
    float: right;
    background: transparent;
    width: 30px;
    height: 23px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.button-navigator span,
.button-navigator::after,
.button-navigator::before {
    transform: rotate(0deg);
    content: ' ';
    width: 30px;
    height: 2px;
    background: white;
    border-radius: 21px;
    display: inline-block;
    vertical-align: top;
    left: 0px;
}

.button-navigator span {
    top: 10px;
    position: relative;
    opacity: 1;
}

.button-navigator.active span {
    top: 0px;
    opacity: 0;
}

.button-navigator::before {
    top: 0px;
    position: absolute;
}

.button-navigator::after {
    bottom: 0px;
    position: absolute;
}

.button-navigator.active::before {
    top: 10px !important;
    transform: rotate(45deg) !important;
}

.button-navigator.active::after {
    bottom: 11px !important;
    transform: rotate(-45deg) !important;
}

.menu-web>li {
    position: relative;
}

/* 
bebas_neueregular
bebas_neuelight
bebas_neuebold
bebas_neuethin */

.beb-regular {
    font-family: 'bebas_neueregular';
}

.beb-light {
    font-family: 'bebas_neuelight';
}

.beb-bold {
    font-family: 'bebas_neuebold';
}

.beb-thin {
    font-family: 'bebas_neuethin';
}


.btn-catalogo:hover .arrow-svg path {
    stroke: #fff;
}

.btn-nosotros:hover .arrow-svg path {
    stroke: #000;
}

.btn-insta:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    border: 2px solid transparent;
}

.btn-insta:hover:after {
    opacity: 1;
    border: 2px solid white;
}

.hover-insta {
    opacity: 0;
}

.btn-insta:hover .hover-insta {
    opacity: 1;
}

.list-idiomas {

    & li.absolute {
        opacity: 0;
        bottom: 0px;
    }

    &:hover li.absolute {
        opacity: 1;
        bottom: -65px;
    }

    & a {
        cursor: pointer;
    }
}

/* escribe un after que empiece en 0px y en la mitad del contenedor y al hacer hover en el ul, el after aumenta su tamanio a 100% y alto 100%, tambien la opacidad y se desplace hacia left 0 y top 0  */
.menu-component a::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transition: all 0.3s;
}

.menu-component a:hover::after {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    top: 0%;
    left: 0%;
}