<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Redireccionando a Garana ES...</title>
	</head>
	<body>
		<p>Redireccionando a Garana ES<a href="/es">/es</a>...</p>
	</body>
	<script>
		window.location.href = "/es";
	</script>
</html>
