---
import srcLogo from "@/assets/images/logo.png";
import { Image } from "astro:assets";
import MenuItems from "./MenuItems.astro";
---

<div
    class="menu-principal fixed top-0 w-full z-50 flex-row"
    style="background-color: rgba(32, 112, 53, 0.8);"
>
    <div class="flex items-center p-4 justify-between">
        <a href="/" class="logo ml-10">
            <Image src={srcLogo} width={200} alt="Logo" />
        </a>
        <MenuItems clase="hidden md:flex menu-web" />
    </div>
    <div
        class="flex md:hidden w-full"
        style="background-color: rgb(32, 112, 53);"
    >
        <MenuItems clase="hidden" />
    </div>
</div>
