---
const { texto } = Astro.props;
import { Image } from "astro:assets";
import statistics from "@/assets/images/statistics-svgrepo-com.svg";
import target from "@/assets/images/target-archer-svgrepo-com.svg";
import lealtad from "@/assets/images/lealtad.svg";
const { language } = Astro.props;


const english = {
    envios :"SHIPMENTS TO ALL COLOMBIA",
    diseños :"DESIGNS ESPECIALLY FOR YOU",
    calidad :"QUALITY AND COMFORT GUARANTEED"
};

const espanol = {
    envios : "ENVIOS A TODA COLOMBIA",
    diseños : "DISEÑOS ESPECIALMENTE PARA TI",
    calidad :"CALIDAD Y COMODIDA GARANTIZADAS"
};
---

<div
    class={`${texto} gap-5 md:gap-0 flex flex-col md:flex-row items-center w-full justify-around p-10`}
>
    <div class="flex flex-col items-center mb-4">
        <Image src={lealtad} width={50} alt="Logo" class="mb-2" />
        <li class="flex w-full">
            <a
                class="text-center w-full beb-regular text-[28px] md:text-[28px] xl:text-[40px] text-[#444444] uppercase"
                > {language === "es" ? espanol.envios : english.envios}</a
            >
        </li>
    </div>
    <div class="flex flex-col items-center mb-4">
        <Image src={target} width={50} alt="Logo" class="mb-2" />
        <li class="flex w-full">
            <a
                class="text-center w-full beb-regular text-[28px] md:text-[28px] xl:text-[40px] text-[#444444] uppercase"
                > {language === "es" ? espanol.diseños : english.diseños}</a
            >
        </li>
    </div>
    <div class="flex flex-col items-center mb-4">
        <Image src={statistics} width={50} alt="Logo" class="mb-2" />
        <li class="flex w-full">
            <a
                class="text-center w-full beb-regular text-[28px] md:text-[28px] xl:text-[40px] text-[#444444] uppercase"
                >C {language === "es" ? espanol.calidad : english.calidad}</a
            >
        </li>
    </div>
</div>
