---
import { Image } from "astro:assets";
import hoja from "@/assets/images/nosotros/bg-section-3.jpg";
---

<div
    class="w-full bg-cover md:h-[100vh] py-20 flex items-center justify-center"
    style={`background-image: url(${hoja.src})`}
>
    <div
        class="flex flex-col items-center justify-center text-center px-5 md:px-10"
    >
        <h1
            class="beb-bold text-[90px] md:text-[150px] leading-[0.9] text-white mb-8 text-grey"
        >
            ¿QUE NOS INSPIRA?
        </h1>
        <p
            class="text-[22px] md:text-[36px] leading-[32px] md:leading-[42px] text-white max-w-4xl text-center"
            style="font-family: 'Open Sans';"
        >
            Nuestra marca garana art, esta inspirada en la belleza de la mujer,
            en su realce natural, con la finalidad de lograr la armonia de su
            cuerpo. Desde la perspectiva organizacional, nos inspiramos en
            brindar el bienestar que nuestros colaboradores y sus familias
            necesitan, aportando al cultivar valores de honestidad ,respeto,
            responsabilidad, amor y lealtad.
        </p>
    </div>
</div>
