---
import { Image } from "astro:assets";
import hoja from "@/assets/images/nosotros/bg-section-3.jpg";
---

<div
    class="flex items-center justify-center w-full py-20 md:h-[100vh]"
    style="background-color: rgb(61, 171, 72);"
>
    <div
        class="flex flex-col items-center justify-center text-center px-5 md:px-10"
    >
        <h1
            class="text-[90px] leading-[0.9] md:text-[150px] text-white text-grey pb-10"
            style="font-family: 'Bebas Neue'; font-weight:200;"
        >
            PROPUESTA DE VALOR
        </h1>
        <p
            class="text-[22px] md:text-[36px] text-white max-w-5xl leading-[32px] md:leading-[42px]"
            style="font-family: 'Open Sans';"
        >
            Nuestra marca garana art, está inspirada en la belleza de la mujer,
            en su realce natural, con la finalidad de lograr la armonía de su
            cuerpo. Desde la perspectiva organizacional, nos inspiramos en
            brindar el bienestar que nuestros colaboradores y sus familias
            necesitan, aportanto a cultivar valores de honestidad, respeto,
            responsabilidad, amor y lealtad.
        </p>
    </div>
</div>
