---
import { Image } from "astro:assets";
import SliderNosotros from "@/assets/images/nosotros/slider.jpg";
import BreadsCrumb from "@/components/layout/bread_crumbs/breadsCrumb.astro";
---
<div>
    <BreadsCrumb titulo="NOSOTROS" image={SliderNosotros}/>
</div>