---
import { Image } from "astro:assets";
import diseno from "@/assets/images/nosotros/sketch.png";
import factory from "@/assets/images/nosotros/factory-machine.png";
import tech from "@/assets/images/nosotros/technology.png";
//crea un array con la estructura image, titulo, descripcion
const items = [
    {
        image: diseno,
        title: "DISEÑO",
        description:
            "Tenemos un equipo que explora las tendencias del mercado, diseñando trajes de baño con estilo y a la moda. También diseñamos y estampamos nuestras propias telas como complemento para lograr que tu outfit sea sensacional.",
    },
    {
        image: factory,
        title: "CONFECCION",
        description:
            "Nuestro personal altamente preparado, se capacita continuamente para obtener el mejor resultado en las prendas que usas. Nuestra capacidad de producción es de 10 mil prendas mensuales, para garantizar que tienes lo que necesitas y cuando lo necesitas.",
    },
    {
        image: tech,
        title: "COMERCIALIZACION",
        description:
            "Nos enfocamos en la distribución mayorista de trajes de baño, tanto a nivel nacional como internacional. Procuramos la satisfacción de nuestros clientes mayoristas y la grata experiencia de nuestro cliente final al usar la marca garana art.",
    },
];
---

<div
    class="relative container mx-auto w-full py-40 md:h-[100vh] flex items-center justify-center"
    style="background-color: rgb(249, 252, 249);"
>
    <div class="flex flex-col md:flex-row gap-20 md:gap-10 px-5 md:px-0">
        {
            items.map((item) => (
                <div class="flex flex-col items-center">
                    <div class="flex w-full items-center mb-4">
                        <Image src={item.image} alt="icono" />
                        <h1 class="ml-4 text-[50px] beb-regular">
                            {item.title}
                        </h1>
                    </div>
                    <p
                        class="text-[22px] md:text-[26px] leading-[30px] md:leading-[38px] mt-4 text-left"
                        style="font-family: 'Open Sans';"
                    >
                        {item.description}
                    </p>
                </div>
            ))
        }
    </div>
</div>
