---
import { Image } from "astro:assets";
import hoja from "@/assets/images/nosotros/QUE-NOS-INSPIRA.webp";

const { language } = Astro.props;

const english = {
    titulo: "¿THAT INSPIRES US?",
    parrafo:
        "Our brand, Garana Art, is inspired by the beauty of women, enhancing their natural grace with the aim of achieving harmony in their bodies. From an organizational perspective, we are committed to providing the well-being that our employees and their families need, contributing by cultivating values of honesty, respect, responsibility, love, and loyalty.",
};

const espanol = {
    titulo: "¿QUÉ NOS INSPIRA?",
    parrafo:
        "Nuestra marca Garana Art está inspirada en la belleza de la mujer, en su realce natural, con la finalidad de lograr la armonía de su cuerpo. Desde la perspectiva organizacional, nos inspiramos en brindar el bienestar que nuestros colaboradores y sus familias necesitan, aportando al cultivar valores de honestidad, respeto, responsabilidad, amor y lealtad.",
};
---

<div
    class="w-full relative bg-cover min-h-[100vh] py-20 flex items-center justify-center"
    style={`background-image: url(${hoja.src})`}
>
    <div
        class="absolute w-full min-h-[100vh] bg-[rgba(0,0,0,0.2)] top-0 left-0"
    >
    </div>
    <div
        class="flex flex-col items-center justify-center text-center px-5 md:px-10"
    >
        <h1
            class="meditative drop-shadow-md stroke-black stroke-2 text-white text-[70px] md:text-[100px] text-center leading-[0.9] inline-block mb-8"
        >
            {language === "es" ? espanol.titulo : english.titulo}
        </h1>
        <p
            class="drop-shadow-md wonderland text-white stroke-black stroke-2 text-center text-[22px] leading-[28px] md:leading-[35px] xl:leading-[38px] md:text-[35px] xl:text-[35px] flex-1 max-w-6xl"
        >
            {language === "es" ? espanol.parrafo : english.parrafo}
        </p>
    </div>
</div>
