---
import { Image } from "astro:assets";
import hoja from "@/assets/images/bg-resenia.webp";
---

<div
    class="w-full py-20 md:py-0 md:h-[100vh] bg-cover flex items-center"
    style={`background-image:url(${hoja.src})`}
>
    <div class="container mx-auto">
        <div
            class="flex flex-col md:flex-row items-center justify-center px-5 md:px-10"
        >
            <div class="flex-1 flex justify-end md:mr-20 mb-10">
                <div
                    class="bg-[rgb(204,255,210)] inline-block md:w-[500px] py-10"
                >
                    <h1
                        class="beb-bold text-[90px] md:text-[150px] text-center leading-[0.9] inline-block"
                    >
                        ¿QUIENES SOMOS?
                    </h1>
                </div>
            </div>
            <div class="flex flex-1">
                <p
                    class="text-center md:text-left text-[22px] leading-[28px] md:leading-[42px] md:text-[36px] flex-1"
                    style="font-family: 'Open Sans';"
                >
                    Somos una empresa manufacturera colombiana creada en el año
                    2006, iniciativa de dos mujeres emprendedoras ingenieras
                    industriales quienes en la necesidad de buscar un mejor
                    futuro, unen habilidades y conocimientos para formar la
                    sociedad que hoy se conoce con la marca de garana art,
                    dedicada a la elaboración y comercialización de trajes de
                    baño, con una visión enfocada a la responsabilidad social y
                    ambiental.
                </p>
            </div>
        </div>
    </div>
</div>
