---
import { Image } from "astro:assets";
import hoja from "@/assets/images/nosotros/bg-section-3.jpg";
---

<div class="relative w-full h-[100vh]" style="background-color: rgb(61, 171, 72);">

    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-10">
        <h1 class="text-[100px] text-white mb-8 text-grey " style="font-family: 'Bebas Neue'; font-weight:200;">
            PROPUESTA DE VALOR
        </h1>
        <p class="text-[20px] text-white max-w-3xl px-30" style="font-family: 'Open Sans';">
            Ofrecemos a las mujeres de hoy prendas que combinan seguridad y comodidad, empoderándolas a través de su estilo. Para nuestros clientes y distribuidores, aseguramos versatilidad, excelencia y oportunidad en la entrega.
        </p>
    </div>
</div>
