---
import { Image } from "astro:assets";
import diseño from "@/assets/images/nosotros/sketch.png";
---

<div class="relative w-full h-[100vh] flex items-center justify-center" style="background-color: rgb(249, 252, 249);">
    <div class="flex flex-row justify-center gap-10 px-10 text-center">
        <div class="flex flex-col items-center">
            <div class="flex items-center">
                <Image src={diseño} alt="icono" />
                <h1 class="ml-4" style="font-family: 'Bebas Neue';">DISEÑO</h1>
            </div>
            <p class="text-[20px] mt-4 max-w-xs" style="font-family: 'Open Sans';">
                Nuestra marca Garana Art está inspirada en la belleza de la mujer, en su realce natural, con la finalidad de lograr
                la armonía de su cuerpo. Desde la perspectiva organizacional, nos inspiramos en brindar el bienestar que nuestros colaboradores
                y sus familias necesitan, aportando a cultivar valores de honestidad, respeto, responsabilidad, amor y lealtad.
            </p>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex items-center">
                <Image src={diseño} alt="icono" />
                <h1 class="ml-4" style="font-family: 'Bebas Neue';">DISEÑO</h1>
            </div>
            <p class="text-[20px] mt-4 max-w-xs" style="font-family: 'Open Sans';">
                Nuestra marca Garana Art está inspirada en la belleza de la mujer, en su realce natural, con la finalidad de lograr
                la armonía de su cuerpo. Desde la perspectiva organizacional, nos inspiramos en brindar el bienestar que nuestros colaboradores
                y sus familias necesitan, aportando a cultivar valores de honestidad, respeto, responsabilidad, amor y lealtad.
            </p>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex items-center">
                <Image src={diseño} alt="icono" />
                <h1 class="ml-4" style="font-family: 'Bebas Neue';">DISEÑO</h1>
            </div>
            <p class="text-[20px] mt-4 max-w-xs" style="font-family: 'Open Sans';">
                Nuestra marca Garana Art está inspirada en la belleza de la mujer, en su realce natural, con la finalidad de lograr
                la armonía de su cuerpo. Desde la perspectiva organizacional, nos inspiramos en brindar el bienestar que nuestros colaboradores
                y sus familias necesitan, aportando a cultivar valores de honestidad, respeto, responsabilidad, amor y lealtad.
            </p>
        </div>

    </div>
</div>
