---
import { Image } from "astro:assets";
import hoja from "@/assets/images/nosotros/bg-section-3.jpg";
---

<div class=" w-full h-[100vh]">
    <Image src={hoja} alt="Fondo" class="object-cover w-full h-full" />

    <div class="flex flex-col items-center justify-center text-center px-10">
        <h1 class="text-[100px] text-white mb-8 text-grey " style="font-family: 'Bebas Neue'; font-weight:200;">
            ¿QUE NOS INSPIRA?
        </h1>
        <p class="text-[20px] text-white max-w-3xl px-30" style="font-family: 'Open Sans';">
            Nuestra marca garana art, esta inspirada en la belleza de la mujer, en su realce natural, con la finalidad
            de lograr la armonia de su cuerpo. Desde la perspectiva organizacional, nos inspiramos en brindar el bienestar
            que nuestros colaboradores y sus familias necesitan, aportando al cultivar valores de honestidad ,respeto, responsabilidad, 
            amor y lealtad.
        </p>
    </div>
</div>
